{% extends 'gisystem/home.html'%}
{% load static %}

{% block content %}

<div class="container" id="contact">
    <div class="contact-link">
        <img class="img-circle" style="height: 200px; width: 200px;" src="{% static '/gisystem/css/img/about-one.jpg'%}">
        <h3>LUIGI DIÑO</h3>
        <span>Insert Quote</span>
    </div>
    <div class="contact-link">
        <img class="img-circle" style="height: 200px; width: 200px;" src="{% static '/gisystem/css/img/about-one.jpg'%}">
        <h3>RASTINE PINLAC</h3>
        <span>Insert Quote</span>
    </div>
    <div class="contact-link">
        <img class="img-circle" style="height: 200px; width: 200px;" src="{% static '/gisystem/css/img/about-one.jpg'%}">
        <h3>RAPHAEL CHEN</h3>
        <p>Network Engineering</p>
    </div>
</div>

{% endblock %}
