{% extends 'gisystem/home.html'%}
{% load static %}

{% block content %}
<script type="text/javascript">
var refreshStream = function(){
    $.ajax({
        url: '/hall',
        method: 'GET',
        data: {},
        success: function(data){
            console.log(data)
            console.log("capacity")
            $('#capacity').replaceWith($('#capacity',data));
        },
        error: function(error){
            console.log(error);
            console.log("error");
        }
    });
}

var total_seconds = 1; // refresh every 5 seconds

setInterval(function(){
    refreshStream();
},total_seconds * 1000);
</script>
<div class="container" id="hall">
    <h2>Henry Sy Hall</h2>
    <div class="dropdown">
      <button class="btn dropdown-toggle" id="floors" type="button" data-toggle="dropdown">Select Floor
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">First Floor</a></li>
        <li><a href="#">Second Floor</a></li>
        <li><a href="#">Third Floor</a></li>
      </ul>
    </div>
    <div class="container dropdown-content">
      <div id="image"><img src="{% static '/gisystem/css/img/garbage.png'%}"></div>
      <h3>Garbage 1</h2>
      <div id="data">
        <span id="capacity">Capacity: {{capacity}}</span>
        <span></span>
        <span>Lid Status: {{status}}</span>
      </div>
    </div>
</div>
{% endblock %}

