{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>GIS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'gisystem/css/style.css'%}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div class="dashboard">
    <div class="sidebar">
      <h2><a href="/">LBY-IOT</a></h2>
      <a href="/overview">
        <i class="material-icons">show_chart</i>
        <span>Overview</span>
      </a>
      <a href="/campus">
        <i class="material-icons icon">map</i>
        <span>Campus Map</span>
      </a>
      <br>
      <a href="/hall">
        <i class="material-icons icon">grain</i>
        <span>Henry Sy Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">computer</i>
        <span>Gokongwei Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">account_balance</i>
        <span>Andrew Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">album</i>
        <span>Miguel Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">build</i>
        <span>Velasco Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">visibility</i>
        <span>St. Joseph Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">meeting_room</i>
        <span>Mutien Marie Hall</span>
      </a>
      <a href="#">
        <i class="material-icons icon">business</i>
        <span>La Salle Hall</span>
      </a>

    </div>
    <div class="content">
      <div class="nav">
        <div class="navbar">
          <h2>Dashboard</h2>
          <div class="nav-contents">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
          </div>
        </div>

        {% block content %}
        {% endblock %}

      </div>
    </div>
  </div>

</body>

</html>
