{% extends 'gisystem/home.html' %}
{% load static %}

{% block content %}
<div class="container" id="overview">
    <div class="col-3" id="upper">
        <div class="row upper">
            <div class="upper-link col-3">
                <img style="height: 30px; width: 30px;" src="{% static '/gisystem/css/img/capacity.png'%}">
            </div>
            <div class="upper-link col-9" id="content">
                <span>Capacity</span>
                <h2>35.33%</h2>
            </div>
        </div>
    </div>
    <div class="col-3" id="upper">
        <div class="row upper">
            <div class="upper-link col-3">
                <img style="height: 30px; width: 30px;" src="{% static '/gisystem/css/img/status.png'%}">
            </div>
            <div class="upper-link col-9" id="content">
                <span>Status</span>
                <h2>35.33%</h2>
            </div>
        </div>
    </div>
    <div class="col-3" id="upper">
        <div class="row upper">
            <div class="upper-link col-3">
                <img style="height: 30px; width: 30px;" src="{% static '/gisystem/css/img/Texture.png'%}">
            </div>
            <div class="upper-link col-9" id="content">
                <span>Texture</span>
                <h2>35.33%</h2>
            </div>
        </div>
    </div>
</div>
<div class="container" style="width: 72%; height: 300px; background-color: black; align-self: center; border-radius: 10px; box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);" id="connect">
    <div class="container" style="padding-top: 20px; color: white; display: flex; flex-direction: column;">
        <div>
            <h4>MQTT Connection</h4>
        </div>
        <span>Connecting...</span>
        <span>Connected Successfully!</span>
    </div>
</div>
{% endblock %}
